.logo {
  width: 345px;
}

.logo-img {
  width: 187px;
  height: 35px;
}

@media screen and (max-width: $max-phone-width) {
  .logo {
    width: 150px;
  }

  .logo-img {
    width: 120px;
    height: 20px;
  }
}