.main {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 247px;

  &-content {
    width: calc(100% - 345px);
  }
}

@media screen and (max-width: $max-phone-width) {
  .main {
    padding-top: 0;
  }
}
